.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.glass-circle {
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 7px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid;
  border-color: rgb(78, 78, 210, 0.5) rgba(99, 99, 222, 0.5) rgba(85, 85, 183, 0.5) rgba(78, 78, 176, 0.5);
  animation: spin-border linear 20s infinite;
  color: rgb(78, 78, 210);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  & > div {
    animation: spin-content linear 20s infinite;
    text-align: center;
  }
}

.mystic-btn {
  cursor: pointer;
  background-color: rgb(78, 78, 210, 0.5);
  border: none;
  border-radius: 50%;
  color: #d3cbcb;
  padding: 1rem 1.2rem;
  transition: all 0.3s ease;
  font-family: 'Glass Antiqua', cursive;
  font-size: 1.2rem;

  &:hover {
    background-color: rgb(78, 78, 210, 0.8);
    transform: scale(1.05);
  }
}

.reveal {
  animation: spin-more 7s linear forwards;
}

@keyframes spin-border {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-content {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin-more {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  20% {
    transform: rotate(-360deg);
  }
  30% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
    opacity: 0;
    color: rgb(78, 78, 210);
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    color: rgb(120, 71, 222);
  }
}

@media (min-width: 350px) {
  .glass-circle {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 500px) {
  .glass-circle {
    width: 400px;
    height: 400px;
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .glass-circle {
    width: 500px;
    height: 500px;
    font-size: 1.7rem;
  }
}